.container{
    perspective: 900x;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator{
    background-color: #000;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5),
    inset 0px 0px 20px rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: repeat(4,69px);
    transform-style: preserve-3d;
    transform: rotateX('30deg') rotateZ('-15deg');
    overflow: hidden;
}
input{
    grid-column: span 4;
    height: 69px;
    width: 250px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    border: none;
    border-radius: 30px;
    color: #000;
    font-size: 51px;
    text-align: end;
    margin: auto;
    margin-top: 39px;
    padding: 9px;
    margin-bottom: 27px;
    transform: translateZ(20px);
    border: 1.5px solid #fff;
}
button{
    height: 48px;
    width: 60px;
    border-radius: 6.3px;
    background-color: rgb(3, 3, 20);
    color: white;
    box-shadow: 0px 2px 9px rgba(109, 60, 188, 0.5);
    position: relative;
    overflow: hidden;

}
button::before,
button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 12%;
    right: 0;
    bottom: 50%;
    background: linear-gradient(
        rgba(255,255,255,0.2) 0%,
        rgba(255,255,255,0.1) 30%,
        rgba(255,255,255,0) 70%;
    );
    pointer-events: none;
    Z-index:3;
}

#scientificButtons {
    display: grid;
    grid-template-columns: repeat(6, 69px); 
  }