@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --theme-color:#3b2bb4;
}

body{
background-color: #2c3e50;
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}

.analog-clock{
    width: 500px;
    height: 500px;
    background-color: #bdc3c7;
    border-radius: 50%;
    border: 9px solid var(--theme-color);
    position: relative;
    

}
.analog-clock::before{
    content: 'Ajanta';
    position: absolute;
    color:var(--theme-color);
    border-radius: 50%;
    top:9%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: "DM Serif Text", serif;
}

.analog-clock::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--theme-color);
    border-radius: 50%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.number{
    --rotate:0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(159, 17, 17);
    text-align: center;
    font-size: 25px;
    transform: rotate(var(--rotate));
}
.number-1{--rotate:30deg;}
.number-2{--rotate:60deg;}
.number-3{--rotate:90deg;}
.number-4{--rotate:120deg;}
.number-5{--rotate:150deg;}
.number-6{--rotate:180deg;}
.number-7{--rotate:210deg;}
.number-8{--rotate:240deg;}
.number-9{--rotate:270deg;}
.number-10{--rotate:300deg;}
.number-11{--rotate:330deg;}

.number::before{
content: '~';
    width:1px;
    height:1px;
    border-radius: 50%;
    background-color: var(--theme-color);
    top: -13px;
    position: absolute;
}

.needle{
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height:40%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    background-color: red;
    z-index: 8;
    border: 1px solid #a50606;
    border-top-left-radius:50%;
    border-top-right-radius: 50%;

}

.sec{
    background-color: rgb(77, 27, 225);
    width:3px;
    height:40%;
    border: 1px solid #a50606;
}
.min{
    background-color: rgb(15, 14, 15);
    width: 7px;
    height: 35%;
}
.hrs{
    background-color: rgb(31, 14, 3);
    width: 10px;
    height: 25%;
}